<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">3 Bainhart Crescent,Scarborough,Toronto</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Connect with me in Social Media</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a
              class="btn btn-outline-light btn-social text-center rounded-circle"
              href="https://github.com/bigsandip"
            >
              <i class="fab fa-fw fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="btn btn-outline-light btn-social text-center rounded-circle"
              href="https://www.linkedin.com/"
            >
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="btn btn-outline-light btn-social text-center rounded-circle"
              href="#"
            >
              <i class="fas fa-fw fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-5 mb-lg-0 ">
          
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.35406185463!2d-79.24759534920001!3d43.765508679015035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d1b335c70251%3A0xf1b22e6a4b0aa30d!2s3%20Bainhart%20Crescent%2C%20Scarborough%2C%20ON%20M1H%202R1!5e0!3m2!1sen!2sca!4v1664721671668!5m2!1sen!2sca" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 
      </div>
    
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; 2022 Sandip Mishra - All Rights Reversed</small>
  </div>
</div>
<script src="/Scripts/app.js"></script>
