<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/header.ejs %>
  </head>

  <br><br>
  <body id="page-top">
    <!-- Navigation-->
    <% include partials/navbar.ejs %>
<header class="masthead bg-primary text-white text-center">
<!-- logo -->
  <div class="container "style="margin-top:-5%">
    <span style="font-size: 120px;"> </span>
    <img class="img-fluid "
      src="./Assets/images/pic.PNG"style=""
      alt="avatar" />
  </div>
  <br>
    <h1 class="text-uppercase mb-0">Sandip Mishra</h1>
    <!-- <i class="fa-brands fa-facebook fa-spin"style="font-size:48px;"></i> -->
    <a href="fb.com"target=”_blank” class="">  <i class="fa-brands fa-facebook cc"style="font-size:35px;color:blue;padding:0.8%"></i></a>
    <a href="instagram.com"target=”_blank” class=""> <i class="fa-brands fa-instagram cc"style="font-size:35px;color:red;padding:0.8%"></i></a>
    <a href="twitter.com"target=”_blank” class=""> <i class="fa-brands fa-twitter cc"style=" font-size:35px;color:blue;padding:0.8%"></i></a>
    <a href="https://github.com/bigsandip"target=”_blank” class=""> <i class="fa-brands fa-github cc"style="font-size:35px;color:black;padding:0.8%"></i></a>
    <a href="./Assets/images/sandip_mishra_canada_resume.pdf"target=”_blank” class=""> <i class="fa-solid fa-file cc"style="font-size:35px;color:black;padding:0.8%"></i></a>
<!-- aboutme -->
    <hr class="star-light" style="margin-top:1.6% ;"/>      
    <h2 class="font-weight-light mb-0">
      Hello Everyone.My name is Sandip Mishra.I'm from Nepal.I'm currently studying in Centennial College and i'm enrolled in Artificial Engineering Fast-Track Course.
      I have 2 years teaching experience in different programming Language like C++,Python and DataBase Management System.I you want to get connect with me click on the 
      link above. Below is my Resume for quick view.
    </h2>
      <br> <br>
      <!-- resume -->

      <iframe src="./Assets/images/sandip_mishra_canada_resume.pdf" width="90%" height="800px"></iframe>
      
</header>
    <!--Footer-->
    <% include partials/footer.ejs %>
  </body>
</html>
