<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/header.ejs %>
  </head>

  <body id="page-top">
    <!--Navigation-->
    <% include partials/navbar.ejs %>

    <!--Header-->
    <header class="masthead bg-primary text-white text-center">

      <!-- <div class="container "style="margin-top:-5%">
        <span style="font-size: 120px;"> </span>
        <img class="img-fluid "
          src="./Assets/images/code.jpg"style="width:90%;height:50%;"
          alt="avatar" />
          <button class="mybtm"> Click here to explore More</button>
      </div> -->
      <br>
        <h1 class="text-uppercase mb-0">WELCOME To the World of <i> Sandip Mishra</i></h1> <br>
        

        <a href="/aboutme"><button class="exp">Explore More</button> </a>
        <hr class="star-light" />
      

        <h2 class="font-weight-light mb-0">
          <q>The only way to learn a new programming language is by writing programs in it.</q><br>
            <small style="margin-left:70% ;">-Dennis Ritchie</small> 
          
        </h2>
      </div>
    </header>
    <!--Footer-->
    <% include partials/footer.ejs %>
  </body>
</html>
