 
 <!DOCTYPE html>
 <html lang="en">
   <head>
     <% include partials/header.ejs %>
   </head>
   <br><br>
   <body id="page-top">
     <!--Navigation-->
     <% include partials/navbar.ejs %>
 <!--Portfolio Grid Section-->
 <section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary text-white  mb-0">
        Projects
      </h2>
      <hr class="star-dark mb-5" />
      <div class="row">
        <!--video downloader-->
        <div class="col-mn-6 col-lg-4">
          <a
            class="portfolio-item d-block mx-auto"
            href="https://github.com/bigsandip/video_downloader"
          >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>
                  Youtube Video Downloader- A Django app that Downloads Youtube videos..
                </p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="./Assets/images/youtube.jpg"
              alt="ytdownload"
            />
          </a>
        </div>
        <!--danjo blog-->
        <div class="col-mn-6 col-lg-4">
          <a
            class="portfolio-item d-block mx-auto"
            href="https://github.com/bigsandip/Django_Blog"
          >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>
                  Blogging App - A python/Django based app for Blogging. 
                </p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="/./Assets/images/blog1.jpg"
              alt="blogging"
            />
          </a>
        </div>
        <!--password gen-->
        <div class="col-mn-6 col-lg-4">
          <a
            class="portfolio-item d-block mx-auto"
            href="https://github.com/bigsandip/Password_generator"
          >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>Password Generator- Python based Password Generator</p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="./Assets/images/password.jpg"
              alt="pw generator"
            />
          </a>
        </div>
        <!--Consumption trackingr-->
        <div class="col-mn-6 col-lg-4">
          <a
            class="portfolio-item d-block mx-auto"
            href="https://github.com/bigsandip"
          >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>
                  Consumption Tracker - An application that track consumption of Gas,Electricity and Water in a house.
                </p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="./Assets/images/tracking.jpg"
              alt="Consumption tracker"
            />
          </a>
        </div>
        <!--Contour map-->
        <div class="col-mn-6 col-lg-4">
          <a
            class="portfolio-item d-block mx-auto"
            href="https://github.com/bigsandip"
          >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>Digitizing Contour map-Digitization of contour lines in a map and extracting it's elevation value.</p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="./Assets/images/map.jpg"
              alt="Movie Finder"
            />
          </a>
        </div>
        <!--Flaskblog-->
        <div class="col-mn-6 col-lg-4">
          <a
            class="portfolio-item d-block mx-auto"
            href="https://github.com/bigsandip/Flaskblog"
          >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>FlaskBlog-A simple Bloging app basedon Flask framework.</p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="./Assets/images/blog.jpg"
              alt="Flaskblog"
            />
          </a>
        </div>
      </div>
    </div>
  </section>

      <!--Footer-->
      <% include partials/footer.ejs %>
    </body>
  </html>
  