 
 <!DOCTYPE html>
 <html lang="en">
   <head>
     <% include partials/header.ejs %>
   </head>
 <br><br>
   <body id="page-top">
     <!--Navigation-->
     <% include partials/navbar.ejs %>
 <!--service Grid Section-->
 <section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary text-white  mb-0">
        Service
      </h2>
      <hr class="star-dark mb-5" />
      <div class="row">
        <!--website-->
        <div class="col-mn-6 col-lg-4">
          
          <a
          class="portfolio-item d-block mx-auto itm"
          href="mailto:bigsandip@mail.com"
        >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>
                  Website Development
                </p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="./Assets/images/web dev.jpg"
              alt="Web developmentr"
            />
          </a>
        </div>
        <!--mob dev-->
        <div class="col-mn-6 col-lg-4">
          <a
          class="portfolio-item d-block mx-auto itm"
          href="mailto:bigsandip@mail.com"
        >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>
                 Mobile Application Development
                </p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="/./Assets/images/app dev.jpg"
              alt="Mobile development"
            />
          </a>
        </div>
        <!--coding tuition-->
        <div class="col-mn-6 col-lg-4">
          <a
          class="portfolio-item d-block mx-auto itm"
          href="mailto:bigsandip@mail.com"
        >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>Coding Tuition</p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="./Assets/images/tuition.jpg"
              alt="Coding tuition"
            />
          </a>
        </div>
        <!--Data analytics-->
        <div class="col-mn-6 col-lg-4">
          <a
          class="portfolio-item d-block mx-auto itm"
          href="mailto:bigsandip@mail.com"
        >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>
                  Data Analytics
                </p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="./Assets/images/data_analytics.jpg"
              alt="Movie Finder"
            />
          </a>
        </div>
      
        
      </div>
    </div>
  </section>

      <!--Footer-->
      <% include partials/footer.ejs %>
    </body>
  </html>
  